<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="text-align: center">Login</h1>
    <form
      action="/login"
      method="POST"
      style="padding: 20px; text-align: center"
    >
      <div style="padding: 20px">
        <label for="username">Username </label>
        <input type="text" name="username" />
      </div>
      <div style="padding: 20px">
        <label for="password">Password</label>
        <input type="password" name="password" />
      </div>
      <div style="padding: 20px">
        <input type="submit" value="Login" />
      </div>
    </form>
  </body>
</html>
