<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="pdf.js"></script>
  </head>
  <body>
    <h1>Sample report</h1>
    <p>Oh Look! It's Working</p>
  </body>
</html>
